{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Edit FAQ{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mx-auto">
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <hr>
            <h2 class="logo-font mb-4 mt-5">FAQ's Managment</h2>
            <h5 class="text-muted">Edit Question & Answer</h5>
            <hr class="mx-auto">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <form action="{% url 'edit_faq' question.id %}" method="POST" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <div class="text-right">
                    <a href="{% url 'add_faq' %}" class="btn logo-font btn-style rounded">Cancel</a>
                    <button class="btn-outline-gold" type="submit">Edit FAQ</button>

                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}