{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<header>
        <div class="jumbotron  jumbotron-fluid">
                <video playsinline autoplay muted loop poster="" id="background-video" style="z-index: -1;">
                    <source src="{{ MEDIA_URL }}background-video4.mp4" type="video/mp4">
                </video>
                <div class="callout">
                    <img src="{{ MEDIA_URL }}heredo-logo.png">
            </div>
                <nav id="topNav" class="navbar navbar-expand">
                    <div class="container justify-content-center">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#vineyards">Vineyard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" href="#gallery">Gallery</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link page-scroll" data-toggle="modal" title="Shop with us" href="#shopModal">SHOP</a>
                                </li>
                            </ul>
                    </div>
                </nav>  
                </div>
        </header>


<!----ABOUT US---->

<div class="about" >
    <a name="about"></a>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="descript col-xs-12 col-sm-12 col-md-12">
          <h1>ABOUT US</h1>
          <p class="about-us-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#" class="team">Our Team</a>
        </div>
      </div>
    </div>
  </div>

  <div class="break2 container-fluid text-center">
    <h3>We love being busy!</h3>
  </div>


  <!----Vineyards ---->

<div class="about-us" id="startchange">
    <a name="vineyards"></a>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="descript col-xs-12 col-sm-12 col-md-12">
          <h1>ABOUT US</h1>
          <p class="about-us-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="#" class="team">Our Team</a>
        </div>
      </div>
    </div>
  </div>

  <div class="break2 container-fluid text-center">
    <h3>We love being busy!</h3>
  </div>



<div id="shopModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-xs-center">ACQUIRE</h2>
                <a href="{% url 'home' %}" class="navbar-brand">

                <p class="text-xs-center"><a href="{% url 'products' %}">Visit our shop</a></p>
                </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    "use strict";

    $('body').scrollspy({
        target: '#topNav',
        offset: 60
    });

    new WOW().init();
    
    $('a.page-scroll').bind('click', function(event) {
        var $ele = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($ele.attr('href')).offset().top - 60)
        }, 1450, 'easeInOutExpo');
        event.preventDefault();
    });
    

    $('#galleryModal').on('show.bs.modal', function (e) {
       $('#galleryImage').attr("src",$(e.relatedTarget).data("src"));
    });

})(jQuery);

</script>
{% endblock %}