{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}

<header>
    <div class="header-content">
        <div class="inner">
            <video playsinline autoplay muted loop poster="" id="background-video" style="z-index: -1;">
                <source src="{{ MEDIA_URL }}background-video4.mp4" type="video/mp4">
            </video>
            <div class="callout">
                <img src="{{ MEDIA_URL }}heredo-logo.png">
              </div>
        </div>
    </div>
    </div>
<nav id="topNav" class="navbar navbar-expand">
    <div class="container justify-content-center">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#vineyards">Vineyard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" data-toggle="modal" title="Shop with us" href="#shopModal">SHOP</a>
                </li>
            </ul>
    </div>
</div>
</nav>
</header>



<div id="shopModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-xs-center">Bootstrap 4 Theme</h2>
                <h6 class="text-xs-center">A free, responsive template</h6>
                <p class="text-xs-center">
                    This is a customized, single page example template that demonstrates some of the new features to check out in Bootstrap 4. Some of the features include Google Montserrat fonts, animation using Dan Eden's animate.css and the WOW jQuery plugin to watch the scrolling.
                </p>
                <p class="text-xs-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>
                <br>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    "use strict";

    $('body').scrollspy({
        target: '#topNav',
        offset: 60
    });

    new WOW().init();
    
    $('a.page-scroll').bind('click', function(event) {
        var $ele = $(this);
        $('html, body').stop().animate({
            scrollTop: ($($ele.attr('href')).offset().top - 60)
        }, 1450, 'easeInOutExpo');
        event.preventDefault();
    });
    

    $('#galleryModal').on('show.bs.modal', function (e) {
       $('#galleryImage').attr("src",$(e.relatedTarget).data("src"));
    });

})(jQuery);

</script>
{% endblock %}