{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | Admin Profile{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}



{% block page_header %}

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <hr>
            <h2 class="logo-font mb-4 mt-5">Admin Panel</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col text-center">
            <a href="{% url 'products_management' %}">
                <div class="card">
                    <div class="btn logo-font btn-style accounts-btns">
                  <span><i class="fas fa-tasks"></i></span>
            <p class="mt-2"> Products Managment</p>
            </div>
</div>
</a>
        </div>
        <div class="col text-center">
            <a href="{% url 'add_faq' %}">
            <div class="card">
                <div class="btn logo-font btn-style accounts-btns">

                    <span><i class="fas fa-question pr-2"></i></span>
            <p class="mt-2"> Manage FAQ's section</p>
            </div>
</div>
</a>
        </div>
    </div>
</div>



{% endblock %}