html{
    width: 100%;
    height: 100%;
    scroll-padding-top: 70px; /* height of sticky header */

}

body{
    height: calc(100vh - 164px);
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    width: 100%;
    background-color: #fff;

}

#topNav{
  position: relative;
  z-index: 2;

}

#topNav a{
  color: #fff;
  font-size: 1rem;
}



.jumbotron{
  position: relative;
  overflow: hidden;
  height: 600px;
  z-index: 0;

}

#about{
  height:600px;
}


#background-video{
  position: absolute;
  width: auto;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}


h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}

header{
  background-color: transparent;

}



/* scroll down arrow */


.arrow {
    position: fixed;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }


.home-page{
    margin-top: 100vh;
}
h1,
h2, 
h3,
h4,
a,
.name,
.logo-font{
    font-family: 'Cardo', serif;

}

.delivery{
  font-style: italic;
  font-size: 20px;
}




/* products page */



.card {
  max-width: 300px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  height: 100%;

}

nav a{
  color:#343a40;
}


.card img{
  filter: brightness(60%);
  transition: all 0.15s linear;


}

.card .product-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  font-weight: bold;
  color: #FFF;
  padding: 15px 20px;
  font-family: 'Cardo', sans-serif;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.0) 70%);
  transition: all 0.15s linear;

}


.card .product-overview {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 50%, rgba(255, 255, 0, 0));
  color: #EFEFEF;
  padding: 50px 0px 20px 0px;
  transition: all 0.15s linear;
}

.card .product-overview h3 {
  font-weight: bold;
}

.card .product-overview p {
  color: rgba(255, 255, 255, 0.7);
}

.card:hover img {
  filter: brightness(100%);
}

.card:hover .product-name {
  padding-left: 25px;
  padding-top: 20px;
}


.card:hover .product-overview {
  padding-bottom: 25px;
}



.text-black {
  color: #000 !important;
}

.border-black {
  border: 2px solid black !important;
}

.bg-black {
  background: #000 !important;
}

.btn-outline-gold{
  color: black !important;
  border: 1px solid #EC994B;
}

.btn-outline-gold:hover,
.btn-outline-gold:active,
.btn-outline-gold:focus{
  background: #EC994B;
}

.overlay {
height: 100%;
width: 100%;
top: 0;
left: 0;
position: fixed;
background-color: #EFEFEF;
z-index: -1;
}


#main-nav-shop{
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

#main-nav-shop a{
  color: black !important;
  border: 1px solid #EC994B;
  padding: 5px 15px;
}

#main-nav-shop a:hover{
  background: #EC994B;
}

#main-nav-shop .dropdown-item{
  border: none;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}

#main-nav-shop .dropdown-item:hover{
background-color: #EC994B;
text-shadow: none;
color:#EFEFEF;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 20px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 5px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
  border-bottom-color: #007bff !important;
}

.arrow-secondary {
  border-bottom-color: #6c757d !important;
}

.arrow-success {
  border-bottom-color: #28a745 !important;
}

.arrow-danger {
  border-bottom-color: #dc3545 !important;
}

.arrow-warning {
  border-bottom-color: #ffc107 !important;
}

.arrow-info {
  border-bottom-color: #17a2b8 !important;
}

.arrow-light {
  border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
  border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}


/* Product form */

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}

/* Shop button on home page */

.button-shop {
  border-radius: 4px;
  background-color:#EC994B;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-shop span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#shop a{
  text-decoration:none;
  color:#fff;
  font-family: 'Monserrat', sans-serif;
  font-size: 3rem;
}

.button-shop span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-shop span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-shop:hover span {
  padding-right: 25px;
}

.button-shop:hover span:after {
  opacity: 1;
  right: 0;
}



/* wine animation*/

.wineanimation{
  position: relative;
  width: 100%;
  height: 650px;
  margin: 0px 0px 0 0px;
  padding: 0 auto;
}
.bottle-section{
  position: absolute;
  width: 200px;
  height: 180px;
  margin: 250px 650px 50px 500px;
  background-color: #6CCFF0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  animation: tiltBottle 5s 10 linear;
  animation-fill-mode: forwards;
  z-index: 2;
}
@keyframes tiltBottle{
  0%{
  
  }
  20%{
    transform: rotate(60deg);
  }
  80%{
    transform: rotate(60deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.bottle-top{
  position: absolute;
  width: 22px;
  height: 100px;
  margin: 0px 89px 150px 89px;
  background-color: black;
  border-radius: 20%;
  z-index: 3;
}
.bottle-body{
  position: absolute;
  width: 60px;
  height: 100px;
  margin: 100px 70px 20px 70px;
  background-color: black;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  z-index: 3;
}
.bottle-mid{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 70px 70px 20px 70px;
  background-color: black;
  z-index: 3;
}
.bottle-label{
  position: absolute;
  width: 50px;
  height: 65px;
  margin: 110px 85px 20px 75px;
  background-color: white;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 3;
}
.inner-label{
  position: absolute;
  width: 20px;
  height: 65px;
  margin: 0px 0px 0px 30px;
  background-color: lightgrey;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 3;
}
.bottle-shadow{
  position: absolute;
  width: 100px;
  height: 20px;
  margin: 435px 680px 185px 580px;
  background-color: #2F3233;
  opacity: 0.5;
  border-radius: 50%;
  animation: disappearShadow 5s 10 linear;
  animation-fill-mode: forwards;
  z-index: 1;
}
@keyframes disappearShadow{
    0%{
      width: 100px;
      left: 0px;
    }
  20%{
      width: 140px;
      left: -80px;
    }
  80%{
      width: 140px;
      left: -80px;
    }
  100%{
      width: 100px;
      left: 0px;
    }
}
.wine-dropping{
  position: absolute;
  width: 40px;
  height: 10px;
  margin: 295px 560px 155px 685px;
  background-color: #6CCFF0;
  border-top: 10px solid #722F37;
  border-right: 3px dashed #722F37;
  border-top-right-radius: 1000%;
  opacity: 0;
  animation: dropWine 3s 10 linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
}
@keyframes dropWine{
  0%{
  
  }
  30%{
    height: 150px;
    opacity: 1;
  }
  70%{
    height: 150px;
    opacity: 1;
  }
  100%{
    height: 10px;
    opacity: 0;
    width: 0 px;
  }
}

.glass-section{
  position: absolute;
  width: 80px;
  height: 105px;
  margin: 455px 630px 75px 690px;
  background-color: #6CCFF0;				
  z-index: 1;
}
.glass-main{
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 0 15px 80px 15px;
  background-color: black;				
  border-radius: 10%;
  z-index: 3;
}
.glass-mid{
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 20px 15px 50px 15px;
  border-radius: 50%;
  background-color: black;				
  z-index: 3;
}
.wine-mid{
  position: absolute;
  height: 35px;
  width: 40px;
  margin: 0px 5px 5px 5px;
  background-color: #722F37;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  opacity: 0.5;
  z-index: 3;
}
.uncover-wine{
  position: absolute;
  height: 35px;
  width: 40px;
  margin: 0px 0px 0px 0px;
  background-color: black;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  animation: showWine 1.5s 1 linear;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 3;
}
@keyframes showWine{
  to{
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 0px;
    margin: 0px 0px 35px 0;
  }
}

.glass-stem{
  position: absolute;
  width: 6px;
  height: 45px;
  margin: 60px 37px 0px 37px;
  background-color: black;
  z-index: 3;
}
.glass-stand{
  position: absolute;
  width: 50px;
  height: 8px;
  margin: 100px 15px 0px 15px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  background-color: black;
  z-index: 3;
}
.glass-shadow{
  position: absolute;
  width: 80px;
  height: 15px;
  margin: 553px 555px 67px 705px;
  background-color: #2F3233;
  opacity: 0.4;
  border-radius: 50%;
  z-index: 3;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem; /* mt-4 */
  color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #222;
  font: inherit;
  font-size: 14px;
  line-height: 30px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
/* btn */
display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #000;
  border: 1px solid #000;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
color: #fff;
  background-color: #222;
  border-color: #222;
}

.allauth-form-inner-content a {
color: #17a2b8; /* text-info */
}


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }


/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
  .header-container {
    padding-top: 116px;
}

body {
    height: calc(100vh - 116px);
}

.display-4.logo-font.text-black {
    font-size: 2rem;
}

.nav-link {
    padding: 0.15rem;
}

.nav-link i.fa-lg {
    font-size: 1rem;
}


#delivery-banner h4 {
    font-size: .9rem;
}

.btn.btn-outline-black.rounded-0,
.btn.btn-black.rounded-0 {
    padding: .375rem .375rem;
}

.btn.btn-outline-black.rounded-0.btn-lg,
.btn.btn-black.rounded-0.btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
}

.increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
}
}