<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#" id="shop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <strong> SHOP</strong> 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=red-wine" class="dropdown-item">Red Wines</a>
                <a href="{% url 'products' %}?category=white-and-rose-wine" class="dropdown-item">White & Rosé Wines</a>
                <a href="{% url 'products' %}?category=sparkling" class="dropdown-item">Champagne & Sparkling wines</a>
                <a href="{% url 'products' %}?category=gifts" class="dropdown-item">Gifts</a>
                <a href="{% url 'products' %}?category=gift-cards" class="dropdown-item">Gift cards</a>
                <a href="{% url 'products' %}?category=mistery-box" class="dropdown-item">Mistery Boxes</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#about" id="about-link"
                aria-haspopup="true" aria-expanded="false">
                About us
            </a>
        </li>

        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#gallery" id="gallery-link"
                aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#vineyard" id="vineyard-link"
                aria-haspopup="true" aria-expanded="false">
                Vineyard
            </a>
        </li>


        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white " href="#contact" id="contact-link"
                aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>

</div>