<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#shop" id="shop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <strong> SHOP</strong> 
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#about" id="about-link"
                aria-haspopup="true" aria-expanded="false">
                About us
            </a>
        </li>

        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#gallery" id="gallery-link"
                aria-haspopup="true" aria-expanded="false">
                Gallery
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#vineyard" id="vineyard-link"
                aria-haspopup="true" aria-expanded="false">
                Vineyard
            </a>
        </li>


        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white " href="#contact" id="contact-link"
                aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>

</div>