{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container ">
    <div class="row ">
        <div class="col text-center my-auto">
            <h1 class="font-logo">
                <i class="fas fa-times"></i>
                Oops! Page not found!
            </h1>
            <div class="my-4">
                <div>
                    <a href="{% url 'products' %}" class="btn-outline-gold">
                        Return to shop
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}