{% extends 'base.html' %}
{% load static %}

{% block extra_title %} | ContactUs{% endblock %}

{% block page_header %}

{% endblock %}


{% block content %}
<div class="overlay"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3 mt-5">
            <h2 class="logo-font mt-3">Get In Touch</h2>
            <hr class="w-50 mb-2 mx-auto">

        </div>
    </div>

</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-8 mt-4">
            <form action="{% url 'contact' %}" method="POST">
                <!-- Contact Form -->
                {% csrf_token %}
                <div class="form-group">
                    <input type="email" id="email" class="form-control " name="message-email"
                        placeholder="name@example.com" required>
                </div>
                <div class="form-group">
                    <input type="text" id="name" class="form-control" name="message-name" minlength="3"
                        placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" name="message" minlength="10" rows="10"
                        required placeholder="Tell us anything!"></textarea>
                </div>
                <div class="mx-auto">
                    <button type="submit" class="btn-outline-gold mx-auto my-3">Submit</button>
                </div>
            </form>
            </div>
    </div>
</div>

{% endblock %}